[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=BrushBeat
Exec=/usr/bin/invoker --type=d -s /opt/BrushBeat/bin/BrushBeat
Icon=/usr/share/icons/hicolor/80x80/apps/BrushBeat80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
